.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  margin-top: 50px;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
}

.footer-logo {
  height: 55px;
}

.footer-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}