.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: white;
}

.navbar-logo {
  height: 90px;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}