.banner {
  position: relative;
  width: calc(100% + 80px);
  height: 220px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  margin: 0 -40px 40px -40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--banner-img);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.banner-text {
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  z-index: 1;
}

/* Cache le saut de ligne sur desktop */
.banner-br {
  display: none;
}

@media (max-width: 768px) {
  .banner {
    width: calc(100% + 40px);
    height: 150px;
    border-radius: 10px;
    margin: 0 -20px 30px -20px;
    justify-content: flex-start;
    align-items: center;
  }

  .banner-text {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 20px;
  }

  /* Affiche le saut de ligne uniquement en mobile */
  .banner-br {
    display: inline;
  }
}