.about__deroulants {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 0; /* plus de padding latéral */
}

@media (max-width: 768px) {
  .about__deroulants {
    gap: 20px;
    margin: 20px 0;
  }
}