.about__deroulants {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 100px;
}
@media (max-width: 768px) {
  .about__deroulants {
    padding: 0;
    margin: 20px 0;
  }
}